.brew-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin-inline: auto;

}

.brew-header {
    color: #40c9c9;
    display: flex;
    background-color: #1b1b26;
    border: 3px solid #40c9c9;
    border-radius: 20px;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin: 0;

    text-shadow:
        2px 2px 0px #000,
        /* Creating a sharp outline effect */
        -1px -1px 0px #000,
        1px -1px 0px #000,
        -1px 1px 0px #000,
        1px 1px 0px #000,
        2px 2px 8px rgba(0, 0, 0, 0.7);

}

.brew-card-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #2D2E40;
}


.brew-card-container:last-child {
    margin-bottom: 10px;
}




.brew-image {
    width: 90%;
    margin-top: 5%;
    height: 60%;
    margin-inline: auto;
    border-radius: 10px;

}

.error-message-container {
    width: 60vw;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1b1b26;
    border-radius: 10px;
    outline: 3px solid #40c9c9;
}

.error-message {
    text-align: center;
   font-size: 1.3rem; 
    margin: 5px;
}
