
.the-brewery-container {

    width: 65vw;
    display: flex;
    margin-inline: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    background-color: #565766;
    cursor: default;
}

.the-brewery-text {
    text-align: center;
    font-size: 40px;
    width: 60vw;
    text-shadow:
        2px 2px 0px #000,
        /* Creating a sharp outline effect */
        -1px -1px 0px #000,
        1px -1px 0px #000,
        -1px 1px 0px #000,
        1px 1px 0px #000,
        2px 2px 8px rgba(0, 0, 0, 0.7);
}

.text-blue {
    color: #40c9c9;
}

.text-purple {
    color: #241773;
}

.text-orange {
    color: #DF4601
}
.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 75vh;
}

.image {
    width: 30%;
    height: 100%;
    border-radius: 8px;
}